.product-cards-row-wrapper {
    height: 100%;
    position: relative;
}

.product-carousel {
    margin: 30px auto;
}

.product-cards-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    padding: 30px 0;
}

.product-card-wrapper {
    & .product-card-image img {
        max-width: 100%;
    }
}
