:root {
  --main-text-color: #222;
  --global-red-color: #8b0000;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  color: #6a696b;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .container {
    max-width: 1600px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-wrapper {
  width: 18%;
}

.logo {
  font-size: 55px;
}

.menu-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.main-nav > li {
  float: left;
}

.main-nav > li > a {
  display: block;
  padding: 38px 18px;
  position: relative;
  line-height: 30px;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  padding: 38px 10px;
  line-height: 0;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  padding-right: 17px;
  padding-left: 0;
}

.account-wrapper {
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-slider {
  max-width: 100%;
  height: 750px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .container-slider {
    margin: 100px 10px 0;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.prev {
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.next {
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.2);
}

.dot.active {
  background: #fff;
  border: 3px solid rgba(0, 0, 0, 0.8);
}

.arrows {
  background-color: transparent;
  color: #fff;
}

.hero-titles-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.hero-titles-wrapper.active {
  -webkit-animation: animatedTitles;
          animation: animatedTitles;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

@-webkit-keyframes animatedTitles {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes animatedTitles {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.hero-title {
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.1;
}

.hero-subtitle {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  line-height: 1.1;
}

.hero-button {
  background-color: #982428;
  padding: 15px;
  font-size: 14px;
  color: #fff !important;
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-family: Poppins;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
}

.hero-titles-wrapper {
  z-index: -99;
}

.hero-titles-wrapper.active {
  z-index: 99;
}

.hero-button:hover {
  background-color: #484345;
}

.button-s:hover, .button-f:hover {
  background-color: #484345;
}

.button-wrapper {
  margin-top: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection-slide {
  background-color: #fff;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection-slide i {
  font-size: 60px;
  color: #c3c5c4;
  margin-bottom: 15px;
}

.collection-slide p {
  color: #aaa;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -5px;
}

.product-carousell-elements img {
  max-width: 300px;
}

.product-cards-row-wrapper {
  height: 100%;
  position: relative;
}

.product-carousel {
  margin: 30px auto;
}

.product-cards-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  padding: 30px 0;
}

.product-card-wrapper .product-card-image img {
  max-width: 100%;
}

.page-header {
  background-position: center left;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.heading-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.heading-wrapper h1 {
  padding-left: 16px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1em;
  color: #fff;
  border-left: 10px solid var(--global-red-color);
}

.alert {
  padding: 1rem;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation: alert 1s;
          animation: alert 1s;
  margin: 30px 0;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

@-webkit-keyframes alert {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes alert {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width: 100px;
  height: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: spin 2s ease infinite;
          animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19a68c;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #f63d3a;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.load :nth-child(3) {
  background: #fda543;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.load :last-child {
  background: #193b48;
}

@-webkit-keyframes spin {
  0%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

@keyframes spin {
  0%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

.product-cards-row-wrapper.loading {
  height: 500px;
}
/*# sourceMappingURL=app.css.map */